/* line 17, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2 */
body {
  background-image: url(/images/red091.jpg);
  color: white;
}
/* line 5 */
body .footer {
  background-color: #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  float: left;
  margin-top: 10px;
  text-align: center;
  font-family: "Josefin Sans", serif;
  font-size: 15px;
}
/* line 15 */
body .footer .text {
  padding: 10px;
}
/* line 17 */
body .header {
  width: 960px;
  margin: 0px auto;
  height: 80px;
}
/* line 21 */
body .header h1 {
  float: left;
  font-size: 60px;
}
/* line 24 */
body .header h1 a {
  font-family: "Slackey", serif;
  font-style: normal;
  font-weight: 700;
  text-shadow: 2px 2px 2px #333333;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  color: white;
}
/* line 35 */
body .header #nav {
  float: right;
  padding: 20px 10px 10px 10px;
  background-color: #555555;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  box-shadow: 2px 2px 2px #aaaaaa;
  -moz-box-shadow: 2px 2px 2px #333333;
  -webkit-box-shadow: 2px 2px 2px #333333;
}
/* line 46 */
body .header #nav li {
  display: inline;
  margin: 5px 6px;
}
/* line 49 */
body .header #nav li a {
  font-family: "Josefin Sans", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  color: white;
}
/* line 61 */
body .header #nav li a.link-active {
  color: #dd5522;
}
/* line 63 */
body .header #nav li.contact {
  display: block;
  font-family: "Josefin Sans", serif;
  margin: 5px;
  font-size: 18px;
}
/* line 68 */
body .header #nav li.contact a {
  font-size: 18px;
}
/* line 70 */
body .share {
  position: fixed;
  left: 0;
  margin-top: 150px;
  background-color: #e8e8e2;
  padding: 3px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  box-shadow: 2px 2px 5px #555555;
  -moz-box-shadow: 2px 2px 5px #555555;
  -webkit-box-shadow: 2px 2px 5px #555555;
}
/* line 83 */
body .share span {
  display: block;
  margin: 0 2px;
  width: 40px;
}
/* line 88 */
body .register_link_vertical {
  position: fixed;
  right: 0;
  display: none;
  margin-top: 150px;
  background-color: #e8e8e2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  box-shadow: 2px 2px 5px #555555;
  -moz-box-shadow: 2px 2px 5px #555555;
  -webkit-box-shadow: 2px 2px 5px #555555;
  width: 30px;
  height: 110px;
}
/* line 103 */
body .register_link_vertical .vertical_container {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  float: left;
  clear: both;
  width: 100%;
}
/* line 110 */
body .register_link_vertical .vertical_container a {
  font-family: "philosopher", serif;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  margin-left: -70px;
  font-weight: bold;
  color: #960911;
}
/* line 119 */
body .content {
  width: 950px;
  min-height: 900px;
  margin: 0px auto;
}
/* line 123 */
body .content .container {
  width: 100%;
  float: left;
  clear: both;
  display: block;
  margin-top: 10px;
  background-color: #e8e8e2;
  border-radius: 5px;
  color: #333333;
  -moz-border-radius: 10px;
  box-shadow: 5px 5px 2px #333333;
  -moz-box-shadow: 5px 5px 5px #555555;
  -webkit-box-shadow: 5px 5px 5px #555555;
}
/* line 137 */
body .content .container .section {
  margin-bottom: 50px;
  margin-left: 10px;
  font-family: "Josefin Sans", serif;
  clear: both;
}
/* line 142 */
body .content .container #corporate {
  font-size: 22px;
}
/* line 144 */
body .content .container #corporate .text {
  width: 600px;
  float: left;
}
/* line 147 */
body .content .container #corporate .text p {
  line-height: 1.5em;
  margin-top: 1em;
}
/* line 150 */
body .content .container #corporate .right {
  width: 300px;
  float: right;
  margin-top: 1.5em;
}
/* line 154 */
body .content .container #corporate .right #action_button {
  float: left;
  clear: both;
}
/* line 157 */
body .content .container #corporate .right #action_button a {
  display: block;
  background-color: #960911;
  float: left;
  color: #e8e8e2;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 5px 5px 2px #333333;
  -moz-box-shadow: 5px 5px 2px #333333;
  -webkit-box-shadow: 5px 5px 2px #333333;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
/* line 172 */
body .content .container #corporate .right #action_button a:hover {
  font-size: 32px;
  margin-top: 10px;
}
/* line 175 */
body .content .container #corporate .right #companies {
  float: left;
  clear: both;
  font-size: smaller;
  margin: 1em 0;
}
/* line 180 */
body .content .container #corporate .right #companies ul {
  margin-top: 1em;
}
/* line 183 */
body .content .container #about {
  float: left;
  clear: both;
  margin-top: 20px;
}
/* line 187 */
body .content .container #about h2 {
  text-align: center;
  clear: both;
  font-weight: normal;
  font-size: 32px;
}
/* line 192 */
body .content .container #about h2 span.highlight {
  color: #960911;
  font-weight: bold;
  font-size: 36px;
}
/* line 196 */
body .content .container #about #tagline {
  clear: both;
  margin: 5px 0 15px 0;
}
/* line 199 */
body .content .container #about #tagline h2 {
  text-align: center;
  font-weight: bold;
  color: #960911;
  font-size: 50px;
}
/* line 204 */
body .content .container #about #tagline h3 {
  text-align: center;
  color: #333333;
  font-size: 22px;
  font-family: "Philosopher", sans-serif;
}
/* line 218 */
body .content .container #about #about_image {
  float: left;
  width: 320px;
  margin: 25px 0;
  margin-left: 50px;
}
/* line 223 */
body .content .container #about #action_text {
  float: left;
  text-align: left;
  width: 520px;
  font-family: "Philosopher", sans-serif;
  color: #664433;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  margin: 30px 10px;
}
/* line 233 */
body .content .container #about #action_text .schedule {
  float: left;
  clear: both;
  font-size: small;
  color: #888866;
  margin-top: 10px;
}
/* line 240 */
body .content .container #about #action_text #register_link {
  display: block;
  float: left;
  clear: both;
  background-color: #960911;
  color: #e8e8e2;
  font-size: 32px;
  padding: 10px;
  margin-top: 80px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 5px 5px 2px #333333;
  -moz-box-shadow: 5px 5px 2px #333333;
  -webkit-box-shadow: 5px 5px 2px #333333;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
/* line 256 */
body .content .container h2 {
  font-family: "Philosopher", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  word-spacing: 0em;
  line-height: 120%;
}
/* line 266 */
body .content .container h2 a {
  color: #960911;
  text-decoration: none;
}
/* line 269 */
body .content .container #calltext {
  margin-top: 1em;
  text-align: center;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: -0.03em;
}
/* line 275 */
body .content .container #calltext em {
  color: #960911;
  font-weight: bold;
}
/* line 278 */
body .content .container #calltext a {
  color: #960911;
  font-weight: bold;
}
/* line 282 */
body .content .container .section {
  font-size: 22px;
}
/* line 285 */
body .content .container .section h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 0.8em 0;
  clear: both;
}
/* line 290 */
body .content .container .section p {
  clear: both;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0.8em 0;
}
/* line 295 */
body .content .container .section ul.contents {
  float: left;
  clear: left;
  margin: 10px 30px;
  list-style: disc;
  line-height: 1.5em;
  width: 420px;
}
/* line 302 */
body .content .container .section #photos {
  float: right;
  width: 420px;
}
/* line 305 */
body .content .container .section #photos img {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  margin: 5px;
  padding: 5px;
}
/* line 311 */
body .content .container #details {
  margin-bottom: 100px;
}
/* line 313 */
body .content .container #details dd {
  clear: both;
  font-weight: bold;
  font-size: 26px;
  margin: 20px 0;
}
/* line 319 */
body .content .container #details dt {
  margin-left: 40px;
  font-size: 22px;
}
/* line 324 */
body .content .container #details dt a {
  color: #960911;
}
/* line 326 */
body .content .container #details dt #map {
  float: left;
  clear: both;
  width: 435;
  height: 360;
  background-color: white;
  margin: 15px 0;
  padding: 5px;
  box-shadow: 3px 3px 3px #333333;
  -moz-box-shadow: 3px 3px 3px #333333;
  -webkit-box-shadow: 3px 3px 3px #333333;
}
/* line 337 */
body .content .container #details dt #map a {
  text-decoration: none;
  font-size: smaller;
  color: #960911;
}
/* line 341 */
body .content .container #details dt #fb_page {
  margin: 5px;
  float: left;
  clear: left;
  width: 400px;
}
/* line 346 */
body .content .container #details dt #tweetbox {
  margin: 5px;
  float: left;
  width: 400px;
}
