.section
  %p Here is a quick overview of what would be covered
  %h3 Rails (3 days)
  %ul
    %li A quick primer on Ruby
    %li How does the web work?
    %li Installing Rails
    %li Hello MVC
    %li Draw up your routes
    %li Writing Controllers
    %li Interacting with the backend with ActiveRecord
    %li Model validation, observers and hooks
    %li Understanding ReSTful resources
    %li Fantastic forms
    %li Views with Haml and Sass
    %li Understanding the Asset Pipeline
    %li Sending out mails with ActionMailer
    %li Background jobs with Beanstalkd and Stalker
    %li Test your model with unit tests
    %li Test your controllers with functional tests
    %li Test entire scenarios with Cucumber, RSpec and Capybara
    %li Test javascript with Capybara and Selenium

  %p 
    Sound interesting? 
    %a(href="http://railspundit.doattend.com/") Register Now
