.section
  %p Here is a quick overview of what would be covered
  %h3 Ruby (2 days)
  %ul
    %li Installing Ruby and setting up the environment
    %li Its all about ze rubies 
    %li Beautiful code - writing idiomatic ruby
    %li Arrays and Hashes
    %li Strings and Regexes
    %li Modules, Classes and Objects
    %li Magic with blocks
    %li Metaprogramming techniques
    %li Testing with RSpec and Cucumber
    %li Packaging your library as a Ruby Gem
  %h3 Rails (3 days)
  %ul
    %li Installing Rails
    %li Hello MVC
    %li Draw up your routes
    %li Writing Controllers
    %li Interacting with the backend with models
    %li Writing model validation and observers hooks
    %li Understanding ReSTful resources
    %li Fantastic forms
    %li Views with Haml and Sass
    %li Sending out mails with ActionMailer
    %li Background jobs with Beanstalk and Stalker
    %li Test your model with unit tests
    %li Test your controllers with functional tests
    %li Test entire scenarios with Cucumber, RSpec and Capybara
    %li Test javascript with Capybara and Selenium

  %p 
    Sounds interesting.
    %a(href="http://doattend.com/rp") Register Now.
