#corporate.section
  .text
    %p Ruby and Rails talent is in a lot of demand and hiring laterally might prove to be a very difficult and a costly proposition. We offer Rails training programs and workshops that can help your best Java/C# developers understand Ruby and adopt it. Although, it is entirely possible to learn Ruby on your own, it is a time consuming and arduous task. We can help introduce the dynamic aspects of Ruby and Rails to your team in an easy to understand fashion by providing a lot of parallels with popular languages like Java, C# or Python. We not only teach the language and the framework but we would also systematically introduce the tools, resources and the methodologies to be efficient with Ruby and Rails.
    %p We have extensive experience building Ruby and Rails applications and understand what it takes to deliver a sustainable and a performant application. Practices like Test Driven Development and Behavior Driven Development ensure that the business goals are aligned with the technical goals of the project. The course would teach BDD in a way that it does not merely function as an automated test suite but provides a powerful way to express the requirements of the product and work like executable specification document for the product.
  .right
    #action_button
      %a.iframe#corporate_register_link(href="http://dharana.wufoo.com/forms/z7x3k7/" title="I am interested") Contact Us 
    #companies
      %p Here are a few organizations who sponsored RailsPundit for their employees. We also conduct in house training programs.
      %ul.companies
        %li
          %a(href="http://collabnet.com" target="_blank")
            %img(src="/images/logo_collabnet.gif" title="Collabnet")
        %li
          %a(href="http://spritle.com" target="_blank")
            %img(src="/images/spritle_logo.gif" title="Spritle")
        %li
          %a(href="http://railsfactory.com" target="_blank")
            %img(src="/images/railsfactory.gif" title="RailsFactory")
