#about.section
  #tagline
    %h2 Learn Ruby and Rails the right way
    %h3 We will equip you to become a world class Rails Developer. 
  #banner
    #about_image.waypoint
      %img(src="/images/banner_vertical.png" alt="Learn Ruby and Rails the right way")
    #action_text
      Learn Ruby and Rails hands on in the right way. Learn to build, test and deploy an entire application in 5 days. 
      %a#register_link(href="http://railspundit.doattend.com" title="I am interested") Register Now 
      .schedule
        The 3rd to the 7th of August 2011, Rs. 15,000/-
        %br
        Covers Ruby 1.9.2, Rails 3, Git, Cucumber and RSpec.
  %h2
    5 day Ruby and Rails hands on workshop by 
    %a(href="http://www.vagmim.com/" target="_blank") Vagmi Mudumbai
    %br
    The 3rd to 7th of August 2011 at Hotel Dee Cee Manor, Chennai
  #calltext 
    Call us at 
    %em +91-9566099716 
    or email us at 
    %a(href="mailto:railspundit@dharanasoft.com") railspundit@dharanasoft.com 
    for queries.

.section
  %h3 What is it?
  %p
    RailsPundit is a 5 day hands on workshop where you will build an application in 5 days and deploy it on the cloud. RailsPundit helps you learn rails the right way and become a pundit yourself. The ecosystem around Ruby and Rails is exploding. It can be quite frustrating and overwhelming for a user when getting started with Rails looking at the sheer amount of choices. Also most of the information required to quickly launch your product or project is fragmented. Given our experience, we understand that the task of creating compelling applications for clients or your customers involves aspects like Requirements Management, Team Composition, Project Management process, Change control process apart from the solution itself.
  %p
    Ruby on Rails in its newest version has matured in terms of the framework and the ecosystem to provide the right set of tools. The workshop will help you leverage Rails with effective methodoligies like Scrum, Behavior Driven Development, Continuous Integration using tools like Git with Github, Cucumber and Goldberg CI.

.section
  %h3 
    Who should attend?
  %p 
    If you are looking to build a product or providing services to a client and are already using or planning to use Rails 3, you should attend this. A basic knowledge of programming is necessary. 
  %p
    Read more about the 
    %a(href="/content.html") contents
    of the program.

.section
  %h3 Registration Details
  %p 
  Register now with your 
  %a(href="http://railspundit.doattend.com") credit card 
  or contact us at 
  %a(href="mailto:railspundit@dharanasoft.com") railspundit@dharanasoft.com 
  for cheque or NEFT payments. Contact us at +91-9566099716 / +91-8754479715 for queries. 


.section
  %h3 Where is it happening?
  %p
    Hotel DC Manor, #90, G. N. Chetty Road, Chennai
  :plain
    <iframe width="825" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=hotel+dee+cee+manor&amp;fb=1&amp;cid=0,0,4723003829358843070&amp;ie=UTF8&amp;hq=hotel+dee+cee+manor&amp;hnear=&amp;ll=13.045679,80.238454&amp;spn=0.0111,0.01929&amp;iwloc=near&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=hotel+dee+cee+manor&amp;fb=1&amp;cid=0,0,4723003829358843070&amp;ie=UTF8&amp;hq=hotel+dee+cee+manor&amp;hnear=&amp;ll=13.045679,80.238454&amp;spn=0.0111,0.01929&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

#details.section.waypoint
  %dd Spread the word
  %dt 
    .share_this
      %span.st_twitter_large(displayText="Tweet")
      %span.st_facebook_large(displayText="Facebook")
      %span.st_gbuzz_large(displayText="Google Buzz")
      %span.st_delicious_large(displayText="Delicious")
      %span.st_linkedin_large(displayText="Linked In")
      %span.st_reddit_large(displayText="Reddit")
