#about.section
  #tagline
    %h2 Learn Rails the right way
    %h3 We will equip you to become a world class Rails Developer. 
  #about_image.waypoint
    %img(src="/images/banner_vertical.png" alt="Learn Rails the right way")
  #action_text
    Become a Rails Pundit. Learn to implement an entire application from design to deployment from the experts. If you are a corporate looking to fast track the skills of your team members or an individual who would want to learn Rails the right way, let us know.
    %a.iframe#register_link(href="http://dharana.wufoo.com/forms/z7x3k7/" title="I am interested") I am interested
  %h2
    3 day Rails-3 hands on workshop by 
    %a(href="http://www.vagmim.com/" target="_blank") Vagmi Mudumbai
    %br
    The 23rd, 24th and 25th of July 2011 at Hotel Fortel, Chennai
  #calltext 
    Call us at 
    %em +91-9566099716 
    or email us at 
    %a(href="mailto:railspundit@dharanasoft.com") railspundit@dharanasoft.com 
    for queries.
#summary.section.waypoint
  %h2 Event Details
  %h3 What is it?
  %p RailsPundit helps you learn rails the agile way and become a pundit yourself. The ecosystem around Ruby and Rails is exploding. It can be quite frustrating and overwhelming for a user when getting started with Rails looking at the sheer amount of choices. Also most of the information required to quickly launch is fragmented. Given our experience, we understand that the task of creating compelling applications for clients or your customers involves aspects like Requirements Management, Team Composition, Project Management process, Change control process apart from the solution itself.

  %p
    Ruby on Rails in its newest version has matured in terms of the framework and the ecosystem to provide the right set of tools. The workshop will help you leverage Rails with effective methodoligies like Scrum, Behavior Driven Development, Continuous Integration using tools like Pivotal Tracker, Git, Cucumber and Hudson/Jenkins/Integrity.
    
  %h3
    What will be covered?
  %ul.contents
    %li Install and get Rails 3 to work in Linux. (rvm, ruby 1.9.2)
    %li Basic walkthrough of the default application (folder layout, bundler)
    %li Source code management with Git (git)
    %li Testing with Cucumber and RSpec
    %li Routing - A deep dive 
    %li Controller Magic 
    %li ActiveRecord (introduction, migrations, associations)
    %li Advanced ActiveRecord (scopes, callbacks and validation)
    %li Views (Haml, Sass and Compass)
    %li Views deep dive 
    %li AJAX with JQuery
    %li Sending mails with ActionMailer
    %li Authentication and integrating with Facebook/Twitter/Google authentication systems
    %li Background jobs
    %li Deployment with Apache and Phusion Passenger
    %li Build an application from the scratch and deploy it on the cloud.
  #photos
    %img(src="/images/april_class.png" title="RailsPundit Day 1" alt="RailsPundit Day 1")
    %img(src="/images/faceshot.png" title="RailsPundit Day 3" alt="RailsPundit Day 3")
  %h3 
    Who should attend?
  %p 
    If you are looking to build a product or providing services to a client and are already using or planning to use Rails 3, you should attend this. A basic knowledge of programming is preferred. 

#details.section.waypoint
  %dd Spread the word
  %dt 
    .share_this
      %span.st_twitter_large(displayText="Tweet")
      %span.st_facebook_large(displayText="Facebook")
      %span.st_gbuzz_large(displayText="Google Buzz")
      %span.st_delicious_large(displayText="Delicious")
      %span.st_linkedin_large(displayText="Linked In")
      %span.st_reddit_large(displayText="Reddit")
