#about.section
  #tagline
    %h2 Learn Rails the right way
  #about_image.waypoint
    %img(src="/images/banner_small.png" alt="Learn Rails the right way")
  #action_text
    Become a Rails Pundit. Learn to implement an entire application from design to deployment from the experts.
    %a#register_link(href="http://railspundit.doattend.com/") Register Now
  %h2
    %span.highlight
      April 5th, 6th and 7th 2011 at Hotel Fortel, Chennai
    %br
    3 day Rails-3 hands on workshop by 
    %a(href="http://www.vagmim.com/" target="_blank") Vagmi Mudumbai
    %br
    %span.contact Call us at +91-9566099716 or email us at railspundit@dharanasoft.com for details.
#summary.section.waypoint
  %h2 Event Details
  %h3
    We will equip you to become a world class Rails Developer. 
  %p
    RailsPundit helps you learn rails the agile way and become a pundit yourself. The ecosystem around Ruby and Rails is exploding. It can be quite frustrating and overwhelming for a user when getting started with Rails looking at the sheer amount of choices. Also most of the information required to quickly launch is fragmented. Given our experience, we understand that the task of creating compelling applications for clients or your customers involves aspects like Requirements Management, Team Composition, Project Management process, Change control process apart from the solution itself.

  %p
    Ruby on Rails in its newest version has matured in terms of the framework and the ecosystem to provide the right set of tools. The workshop will help you leverage Rails with effective methodoligies like Scrum, Behavior Driven Development, Continuous Integration using tools like Pivotal Tracker, Git, Cucumber and Hudson/Jenkins/Integrity.
    
  %p
    This is what we would be covering in the workshop:
  %ul
    %li Install and get Rails 3 to work in Linux. (rvm, ruby 1.9.2)
    %li Basic walkthrough of the default application (folder layout, bundler)
    %li Source code management with Git (git)
    %li Testing with Cucumber and RSpec
    %li Routing - A deep dive 
    %li Controller Magic 
    %li ActiveRecord (introduction, migrations, associations)
    %li Advanced ActiveRecord (scopes, callbacks and validation)
    %li Views (Haml, Sass and Compass)
    %li Views deep dive 
    %li AJAX with JQuery
    %li Sending mails with ActionMailer
    %li Authentication and integrating with Facebook/Twitter/Google authentication systems
    %li Background jobs
    %li Deployment with Apache and Phusion Passenger
    %li Build an application from the scratch and deploy it on the cloud.

#details.section.waypoint
  %h2 Details
  %dd Registration
  %dt 
    Register now with your 
    %a(href="http://railspundit.doattend.com/") credit card 
    or contact us at 
    %a(href="railspundit@dharanasoft.com") railspundit@dharanasoft.com 
    for cheque or NEFT payments.
  %dd Schedule
  %dt April 5th, 6th and 7th 2011 from 10 AM to 5PM. 
  %dd Location
  %dt
    %p
      Hotel Fortel, Chennai
      %a(href="http://fortelhotels.com/") http://fortelhotels.com/
    #map
      :plain
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=hotel+fortel,+chennai&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.768112,72.949219&amp;ie=UTF8&amp;hq=hotel+fortel,&amp;hnear=Chennai,+Tamil+Nadu,+India&amp;ll=13.078366,80.264056&amp;spn=0.029262,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=hotel+fortel,+chennai&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.768112,72.949219&amp;ie=UTF8&amp;hq=hotel+fortel,&amp;hnear=Chennai,+Tamil+Nadu,+India&amp;ll=13.078366,80.264056&amp;spn=0.029262,0.036478&amp;z=14" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
  %dd Spread the word
  %dt 
    #fb_page
      :plain
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FRailsPundit%2F192032027493991&amp;width=400&amp;colorscheme=dark&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=162" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:162px;" allowTransparency="true"></iframe>
    #tweetbox
      :plain
        <iframe id='ifrm' name='ifrm' src='http://doattend.com/2817/promote_tweetbox#%23RailsPundit ' scrolling='auto' width='100%' height='160'></iframe>
  %dd Other Info
  %dt 
    Lunch will be provided. 
    %br Laptops will be provided.
    
      
